[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
numpy = "*"
seaborn = "*"
tabulate = "*"
psutil = "*"
psycopg2 = "*"
dill = "*"
aioredis = "*"
requests-oauthlib = "*"
alembic = "*"
parsedatetime = "*"
aiopixiv = "*"
itsdangerous = "*"
arrow = "*"
pytz = "*"
wikipedia = "*"
googlemaps = "*"
"ruamel.yaml" = "*"
bingmaps = "*"
lupa = "*"
aiohttp = "*"
gyukutai = "*"
Kyoukai = "==2.0.3"
SQLAlchemy = ">=1.1.0"
Jinja2 = "*"
GitPython = "*"
Logbook = "*"
Pillow = "*"
multiprocessing_on_dill = "*"

[packages."discord.py"]
git = "https://github.com/Rapptz/discord.py.git"
ref = "rewrite"
editable = 1
