[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]

python_version = "3.6"


[packages]

"ruamel.yaml" = "*"
lru-dict = "*"
logbook = "*"
asyncqlio = {git = "https://github.com/Fuyukai/asyncqlio.git"}
asyncpg = "*"
tabulate = "*"
click = "*"
tqdm = "*"
numpy = "*"
psutil = "*"
gitpython = "*"
multio = {git = "https://github.com/theelous3/multio.git"}
discord-curious = {git = "https://github.com/Fuyukai/curious.git"}
curio = {git = "https://github.com/dabeaz/curio.git"}
uvloop = "*"
asks = {git = "https://github.com/theelous3/asks.git"}
lupa = "*"
redis = "*"
entropy = "*"
googlemaps = "*"
seaborn = "*"
sympy = "*"
yapf = "*"
sphinx = "*"
clarifai = "*"
prettyprinter = "*"
